/* global styles for app */
.App {
  padding-inline: 5%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header section */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: top;
  gap: 2rem;
}
